@font-face {
  font-family: Open_sans;
  src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: Google_sans;
  src: url("/fonts/Google_Sans/ProductSans-Medium.ttf");
}
body {
  width: 1440px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440.8px;
  height: 120px;
}
.header .jadoo a {
  text-decoration: none;
  font-size: 2.7em;
  font-family: "Google_Sans";
  font-weight: 600;
  color: #000000;
  padding-right: 130px;
  padding-left: 90px;
}
.header .fill-letter {
  position: relative;
}
.header .fill-letter:after {
  display: block;
  content: "";
  position: absolute;
}
.header .o:after {
  background-color: orange;
  height: 35%;
  left: 25%;
  top: 40%;
  width: 50%;
  z-index: -1;
}
.header .nav__elements {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
}
.header .nav__elements li {
  list-style: none;
  padding: 0 30px;
}
.header .header__navigation ul a {
  justify-content: flex-end;
  text-decoration: none;
  font-family: "Open_Sans";
  color: #212832;
}
.header .header__navigation a:hover {
  display: block;
  transform: scale(1.2);
  color: orange;
}
.header .reg__elements a:hover {
  display: block;
  transform: scale(1.2);
  color: orange;
}
.header .reg__elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  font-family: "Open_Sans";
  color: #212832;
  z-index: 2;
}
.header .reg__elements li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 25px;
  font-size: 17px;
  font-weight: 600;
  padding-right: 10px;
}
.header .login {
  text-decoration: none;
  color: #212832;
}
.header .signUp {
  text-decoration: none;
  color: #212832;
  border-radius: 5px;
  list-style: none;
  border: 1px solid black;
  padding: 7px 20px;
  margin: 0;
}
.header .main__btn {
  text-decoration: none;
  color: #212832;
  list-style: none;
  margin-right: 10px;
  list-style: none;
}
.header .decore {
  position: absolute;
  width: 766.31px;
  height: 872.58px;
  left: 736px;
  top: -149px;
  z-index: -1;
}
.header .second__decore {
  position: absolute;
  width: 478.94px;
  height: 496.86px;
  left: -420px;
  top: -59.84px;
  background: #d5aee4;
  opacity: 0.3;
  filter: blur(75px);
}
.header #menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.header #menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
.header #menuToggle a:hover {
  color: orange;
}
.header #menuToggle input {
  display: block;
  width: 40px;
  height: 42px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.header #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  top: 5px;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.header #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.header #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.header #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
.header #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.header #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.header #menu {
  position: absolute;
  width: 300px;
  margin: -120px 0 0 -55px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.header #menu li {
  padding: 10px 0;
  font-size: 16px;
  font-family: "Open_Sans";
  font-weight: 600;
  padding: 5px;
}
.header #menuToggle input:checked ~ ul {
  transform: none;
}

.intro {
  height: 764px;
  width: 1213px;
  left: 148px;
  top: 110px;
}

.intro h3 {
  position: absolute;
  width: 410px;
  height: 30px;
  left: 150px;
  top: 200px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #df6951;
}

.intro h1 {
  position: absolute;
  width: 545px;
  height: 267px;
  left: 150px;
  top: 225px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.intro p {
  position: absolute;
  width: 477px;
  height: 90px;
  left: 148px;
  top: 558px;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
}

.intro button {
  position: absolute;
  width: 117px;
  height: 23px;
  left: 175px;
  top: 711px;
  font-family: "Google_Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 170px;
  height: 60px;
  left: 148px;
  top: 692px;
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  border: none;
}

.intro button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.intro .play-button {
  position: absolute;
  width: 112px;
  height: 112px;
  left: 338px;
  top: 682px;
}

.intro .play-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.intro a {
  display: inline;
  position: absolute;
  width: 192px;
  height: 26px;
  left: 435px;
  top: 711px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686d77;
}

.intro .traveller {
  position: absolute;
  width: 765px;
  height: 764px;
  left: 558px;
  top: 110px;
  z-index: 2;
}

.intro__plane_01 {
  position: absolute;
  width: 237.29px;
  height: 195.23px;
  rotate: 20deg;
  left: 711px;
  top: 138.43px;
  z-index: 10;
}
.intro__plane_01:hover {
  animation: fly 3s linear infinite;
}

@keyframes fly {
  0% {
    left: 50%;
  }
  20% {
    left: 60%;
    transform: translateY(0);
  }
  45% {
    transform: translateY(-70px);
  }
  65% {
    transform: translateY(-150px);
  }
  100% {
    left: 100%;
    transform: translateY(-250px);
  }
}
.intro__plane_02 {
  position: absolute;
  width: 237.29px;
  height: 195.23px;
  left: 1175px;
  top: 205.43px;
  z-index: 1;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: Open_Sans;
  src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
.offers {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  margin-top: -42px;
  background-color: #fff;
}

.box__wrapper {
  display: flex;
  max-width: 83%;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 260px;
  width: 25%;
  padding: 10px;
}

.offers__decore {
  position: absolute;
  width: 153px;
  height: 166px;
  left: 1249px;
  top: 99px;
}

.offers__category {
  position: absolute;
  width: 98px;
  height: 27px;
  left: 652px;
  top: 90px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #5e6282;
}

.offers h2 {
  position: absolute;
  width: 547px;
  height: 65px;
  left: 428px;
  top: 100px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
}

.box-01 {
  width: 267px;
  height: 314px;
  background: #ffffff;
  border-radius: 36px;
}

.box-01:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
  z-index: 3;
}

.box-02 {
  width: 267px;
  height: 314px;
  background: #ffffff;
  border-radius: 36px;
  z-index: 2;
}

.box-02:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}

.box-03 {
  width: 267px;
  height: 314px;
  background: #ffffff;
  border-radius: 36px;
}

.box-03:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}

.box-04 {
  width: 267px;
  height: 314px;
  background: #ffffff;
  border-radius: 36px;
}

.box-04:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}

.offer__img_one {
  width: 92px;
  height: 78px;
}

.box-01 .offer__title_one {
  width: 190px;
  height: 27px;
  left: 154px;
  top: 1293px;
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #1e1d4c;
}

.box-01 .offer__text_one {
  width: 181px;
  height: 78px;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #5e6282;
}

.offer__img_two {
  margin-top: -60px;
  width: 166.87px;
  height: 153.33px;
}

.offer__title_two {
  margin-top: 0;
  max-height: 30px;
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #1e1d4c;
}

.offer__text_two {
  width: 181px;
  height: 78px;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #5e6282;
}

.offer__rectangle_02 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 382px;
  top: 531px;
  z-index: 1;
  background: #df6951;
  border-radius: 30px 0px 10px;
}

.offer__img_three {
  width: 67px;
  height: 75px;
}

.offer__img_three-02 {
  position: absolute;
  width: 40px;
  height: 69px;
  left: 839px;
  top: 327px;
}

.offer__title_three {
  width: 120px;
  height: 27px;
  left: 792px;
  top: 1293px;
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #1e1d4c;
}

.offer__text_three {
  width: 181px;
  height: 78px;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #5e6282;
}

.offer__img_four {
  width: 77px;
  height: 66px;
}

.offer__title_four {
  width: 140px;
  height: 27px;
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #1e1d4c;
}

.offer__text_four {
  width: 181px;
  height: 78px;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #5e6282;
}

.top__section {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  margin-top: 142px;
  background-color: #fff;
}

.top__sellings {
  position: absolute;
  width: 190px;
  height: 27px;
  left: 602px;
  display: inline;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  /* TEXT CLR */
  color: #5e6282;
}

.top__destinations {
  position: absolute;
  width: 418px;
  height: 65px;
  left: 490px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  /* 3rd */
  color: #14183e;
}

.top__cards {
  display: flex;
  max-width: 73%;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 0;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 260px;
  width: 25%;
  padding: 10px;
}

.top-box-01 {
  position: relative;
  width: 309px;
  height: 457px;
}

.top-box-02 {
  position: relative;
  width: 315px;
  height: 457px;
}

.top-box-03 {
  position: relative;
  width: 315px;
  height: 457px;
}

.top__rome {
  position: relative;
  top: 100px;
}

.top__london {
  position: relative;
  top: 100px;
}

.top__europe {
  position: relative;
  top: 100px;
  z-index: 3;
}

.card__forRome {
  position: absolute;
  width: 309px;
  height: 130px;
  padding-left: 13px;
  top: 525px;
  /* white */
  background: #ffffff;
  border-radius: 0px 0px 24px 24px;
}

.card__forRome:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}

.card__forLondon {
  position: absolute;
  width: 316px;
  height: 130px;
  left: 559px;
  top: 524px;
  z-index: 0;
  /* white */
  background: #ffffff;
  border-radius: 0px 0px 24px 24px;
}

.card__forLondon:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}

.card__forEurope {
  position: absolute;
  width: 316px;
  height: 130px;
  left: 920px;
  top: 524px;
  z-index: 3;
  /* white */
  background: #ffffff;
  border-radius: 0px 0px 24px 24px;
}

.card__forEurope:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}

.top__name_01 {
  position: relative;
  width: 114.96px;
  height: 22px;
  left: -78.62px;
  top: -198px;
  background-color: #fff;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__days_01 {
  position: relative;
  width: 113.19px;
  height: 20px;
  left: -52px;
  top: -215px;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__price_01 {
  position: relative;
  width: 58.86px;
  height: 22px;
  left: 92px;
  top: -308px;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__name_02 {
  position: relative;
  width: 114.96px;
  height: 22px;
  left: -77px;
  top: -198px;
  background-color: #fff;
  z-index: 3;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__days_02 {
  position: relative;
  width: 113.19px;
  height: 20px;
  left: -52px;
  top: -215px;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__price_02 {
  position: relative;
  width: 58.86px;
  height: 22px;
  left: 92px;
  top: -308px;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__name_03 {
  position: relative;
  width: 114.96px;
  height: 22px;
  left: -79px;
  top: -200px;
  background-color: #fff;
  z-index: 4;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__days_03 {
  position: relative;
  width: 113.19px;
  height: 20px;
  left: -52px;
  top: -215px;
  z-index: 4;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__price_03 {
  position: relative;
  width: 58.86px;
  height: 22px;
  left: 92px;
  top: -308px;
  z-index: 4;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  /* TEXT CLR */
  color: #5e6282;
}

.top__decore {
  position: absolute;
  height: 340px;
  top: 300px;
  left: 1190px;
  z-index: 0;
}

.easy-book {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  margin-top: 92px;
  background-color: #fff;
}

.easy__fast {
  position: relative;
  width: 128px;
  height: 27px;
  left: 189px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  /* TEXT CLR */
  color: #5e6282;
}

.book__trip {
  position: relative;
  width: 511px;
  height: 130px;
  left: 186px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  /* 3rd */
  color: #14183e;
}

.easy-book__steps {
  display: flex;
  max-width: 73%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 0;
  padding-left: 140px;
}
.easy-book__steps h3 {
  width: 261px;
  height: 20px;
  left: 254px;
  top: 2620px;
  margin-bottom: 5px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */
  /* TEXT CLR */
  color: #5e6282;
}
.easy-book__steps p {
  width: 327px;
  height: 40px;
  left: 254px;
  top: 2644px;
  margin-top: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  /* or 20px */
  /* TEXT CLR */
  color: #5e6282;
}

.steps {
  padding-top: 0;
  margin-top: 0;
  width: 395px;
}

.easy__img_01 {
  position: absolute;
  width: 47px;
  height: 48px;
  left: 186px;
  top: 261px;
  /* 3 */
  background: #f0bb1f;
  border-radius: 13px;
}

.easy__img_02 {
  position: absolute;
  width: 47px;
  height: 48px;
  left: 186px;
  top: 356px;
}

.easy__img_03 {
  position: absolute;
  width: 47px;
  height: 48px;
  left: 186px;
  top: 454px;
}

.easy-book__card {
  position: relative;
  width: 370px;
  height: 400px;
  left: 815px;
  top: -420px;
  /* white */
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}

.easy__decore {
  position: absolute;
  width: 354px;
  height: 367px;
  left: 879px;
  top: 56px;
  background: #59b1e6;
  opacity: 0.4;
  filter: blur(75px);
}

.easy__card_img {
  position: relative;
  width: 321px;
  height: 161px;
  left: 20px;
  top: 20px;
  border-radius: 24px;
}

.trip__toGreece {
  position: relative;
  width: 234px;
  height: 22px;
  left: 20px;
  top: 12px;
  padding-top: 15px;
  padding-bottom: 8px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  letter-spacing: 0.015em;
  /* black */
  color: #080809;
}

.easy__date {
  position: relative;
  width: 288px;
  height: 20px;
  left: 23px;
  top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */
  letter-spacing: -0.005em;
  /* text 2 */
  color: #84829a;
}

.easy__people {
  position: relative;
  width: 126px;
  height: 20px;
  left: 50px;
  top: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */
  letter-spacing: -0.02em;
  /* text 2 */
  color: #84829a;
}

.leaf {
  position: relative;
  padding: 10px 10px 5px 20px;
}

.map {
  position: relative;
  padding: 10px 10px 5px 0;
}

.send {
  position: relative;
  padding: 10px 10px 5px 0;
}

.build {
  position: relative;
  width: 16px;
  height: 16px;
  left: -146px;
  top: 43px;
}

.heart {
  position: relative;
  width: 25px;
  height: 18.58px;
  left: 130px;
  top: 43px;
}

.forCard {
  position: absolute;
  width: 263px;
  height: 129px;
  left: 210px;
  top: 222px;
  z-index: 2;
  /* white */
  background: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
}

.ongoing {
  position: relative;
  width: 58px;
  height: 17px;
  left: 1100px;
  top: -605px;
  z-index: 3;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  /* or 17px */
  letter-spacing: -0.035em;
  /* text 2 */
  color: #84829a;
}

.trip__rome {
  position: relative;
  width: 127px;
  height: 22px;
  left: 1100px;
  top: -610px;
  z-index: 3;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  letter-spacing: -0.015em;
  /* black */
  color: #080809;
}

.completed {
  position: relative;
  width: 101px;
  height: 17px;
  left: 1100px;
  top: -615px;
  z-index: 3;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  /* or 17px */
  letter-spacing: -0.055em;
  /* 1 */
  color: #8a79df;
}

#progressbar {
  position: relative;
  background-color: lightgray;
  border-radius: 13px;
  width: 165px;
  padding: 3px;
  top: -620px;
  left: 1100px;
  z-index: 3;
  height: 3px;
}

#progressbar > div {
  background-color: rgb(102, 80, 228);
  width: 40%;
  height: 5px;
  border-radius: 10px;
}

.smallcard__img {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 3;
  left: 1037px;
  top: 342px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.reviews {
  position: absolute;
  width: 1037px;
  height: 279px;
  top: 3109px;
}

.testimonials {
  position: absolute;
  width: 128px;
  height: 27px;
  left: 186px;
  top: -18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-transform: uppercase;
  /* TEXT CLR */
  color: #5e6282;
}

.about__us {
  position: absolute;
  width: 409px;
  height: 130px;
  left: 186px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  /* 3rd */
  color: #14183e;
}

.review__example {
  position: absolute;
  width: 504px;
  height: 245px;
  left: 719px;
  /* white */
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.reviews p {
  position: absolute;
  width: 402px;
  height: 96px;
  left: 23px;
  top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  /* TEXT CLR */
  color: #5e6282;
}

.author {
  position: relative;
  width: 151px;
  height: 27px;
  left: 23px;
  top: 130px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* TEXT CLR */
  color: #5e6282;
}

.place {
  position: relative;
  width: 116px;
  height: 21px;
  left: 23px;
  top: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* TEXT CLR */
  color: #5e6282;
}

.review__img {
  position: absolute;
  width: 68px;
  height: 68px;
  left: -45px;
  top: -10px;
  z-index: 2;
}

.logo__01 {
  position: relative;
  width: 130px;
  height: 130px;
  left: 180px;
}

.logo__02 {
  position: relative;
  width: 230px;
  height: 130px;
  left: 200px;
}

.logo__03 {
  position: relative;
  width: 160px;
  height: 140px;
  left: 256px;
}

.logo__04 {
  position: relative;
  width: 150px;
  height: 35px;
  left: 336px;
  top: -45px;
}

.logo__05 {
  position: relative;
  width: 130px;
  height: 30px;
  left: 390px;
  top: -45px;
}

.forLogo {
  position: absolute;
  width: 241px;
  height: 86px;
  left: 585px;
  top: 3503px;
  /* white */
  background: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.subscribe {
  position: relative;
  width: 1256px;
  height: 490px;
  left: 48px;
  top: 104px;
  z-index: 1;
  background: #f9f8ff;
  border-radius: 129px 20px 20px 20px;
}

.subscribe h2 {
  position: absolute;
  width: 859px;
  height: 108px;
  left: 291px;
  top: 100px;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  text-align: center;
  color: #5e6282;
}

.subscribe input {
  position: absolute;
  width: 421px;
  height: 68px;
  left: 373px;
  top: 300px;
  background: #ffffff;
  border-radius: 10px;
}

.subscribe .button {
  position: absolute;
  width: 180px;
  height: 68px;
  left: 832px;
  top: 300px;
  color: #fff;
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.06);
}

.subscribe__decore_left {
  position: relative;
  top: 70px;
  left: -130px;
  width: 581px;
  height: 420px;
}

.subscribe__decore_right {
  position: relative;
  width: 264px;
  height: 351.52px;
  left: 407px;
  top: -70px;
}

.sub__send {
  position: absolute;
  left: 1200px;
}

.decore__forSubscribe {
  position: absolute;
  width: 153px;
  height: 166px;
  left: 1251px;
  top: 4158px;
}

.footer__section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1256px;
  height: 490px;
  left: 48px;
  top: 54px;
  z-index: 1;
}

.section__01 {
  position: relative;
  width: 200px;
}
.section__01 h2 {
  position: relative;
  width: 152px;
  height: 66px;
  left: 60px;
  top: -20px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  color: #181e4b;
}
.section__01 h3 {
  position: relative;
  width: 207px;
  height: 48px;
  left: 60px;
  top: -35px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
  color: #5e6282;
}

.section__02 h2 {
  position: relative;
  width: 108px;
  height: 26px;
  left: 47px;
  top: 15px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
}
.section__02 h3 {
  position: relative;
  width: 55px;
  height: 22px;
  left: 47px;
  top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.section__03 h2 {
  position: relative;
  width: 108px;
  height: 26px;
  left: 47px;
  top: 15px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
}
.section__03 h3 {
  position: relative;
  width: 55px;
  height: 22px;
  left: 47px;
  top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.section__04 h2 {
  position: relative;
  width: 108px;
  height: 26px;
  left: 47px;
  top: 15px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
}
.section__04 h3 {
  position: relative;
  width: 135px;
  height: 22px;
  left: 47px;
  top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.section__05 h2 {
  position: relative;
  width: 300px;
  height: 26px;
  left: 47px;
  top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  color: #080809;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 153px;
  height: 24px;
  left: 50px;
}

.email__inEnd {
  position: relative;
  width: 403px;
  height: 17px;
  left: 616px;
  top: -40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  color: #5e6282;
}

.google {
  position: relative;
  top: 15px;
  left: 27px;
}

.ios {
  position: relative;
  top: 15px;
  left: 27px;
}

.foot__decore {
  position: absolute;
  width: 478.94px;
  height: 496.86px;
  left: 1300px;
  top: 4537px;
  background: #d5aee4;
  opacity: 0.5;
  filter: blur(175px);
  overflow: hidden;
}

@font-face {
  font-family: Google_Sans;
  src: url("/fonts/Google_Sans/ProductSans-Medium.ttf");
}
@font-face {
  font-family: Open_Sans;
  src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: Poppins_bold;
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: Volkhov;
  src: url("/fonts/Volkhov/Volkhov-Bold.ttf");
}
body {
  position: relative;
  width: 1440px;
  background: #fff;
  box-sizing: border-box;
  min-width: 400px;
}/*# sourceMappingURL=main.css.map */