.easy-book {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  margin-top: 112px;
  background-color: #fff;
}
.easy__fast {
  position: relative;
  width: 128px;
  height: 27px;
  left: 189px;
  //   top: 2417px;

  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  /* TEXT CLR */

  color: #5e6282;
}

.book__trip {
  position: relative;
  width: 511px;
  height: 130px;
  left: 186px;
  //   top: 2459px;

  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;

  /* 3rd */

  color: #14183e;
}

.easy-book__steps {
  display: flex;
  max-width: 73%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 0;
  padding-left: 140px;
  h3 {
    // position: absolute;
    width: 261px;
    height: 20px;
    left: 254px;
    top: 2620px;
    margin-bottom: 5px;

    font-family: "Poppins_bold";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    /* identical to box height, or 20px */

    /* TEXT CLR */

    color: #5e6282;
  }
  p {
    // position: absolute;
    width: 327px;
    height: 40px;
    left: 254px;
    top: 2644px;
    margin-top: 0;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    /* or 20px */

    /* TEXT CLR */

    color: #5e6282;
  }
}
.steps {
  padding-top: 0;
  margin-top: 0;
  width: 395px;
  //   height: 24px;
}

.easy__img_01 {
  position: absolute;
  width: 47px;
  height: 48px;
  left: 186px;
  top: 261px;

  /* 3 */

  background: #f0bb1f;
  border-radius: 13px;
}

.easy__img_02 {
  position: absolute;
  width: 47px;
  height: 48px;
  left: 186px;
  top: 356px;
}
.easy__img_03 {
  position: absolute;
  width: 47px;
  height: 48px;
  left: 186px;
  top: 454px;
}
.easy-book__card {
  position: relative;
  width: 370px;
  height: 400px;
  left: 815px;
  top: -420px;

  /* white */

  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}
.easy__decore {
  position: absolute;
  width: 354px;
  height: 367px;
  left: 879px;
  top: 56px;

  background: #59b1e6;
  opacity: 0.4;
  filter: blur(75px);
}
.easy__card_img {
  //   box-sizing: border-box;

  position: relative;
  width: 321px;
  height: 161px;
  left: 20px;
  top: 20px;

  //   background: url(sc.jpg);
  //   border: 1px solid #000000;
  //   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
}
.trip__toGreece {
  position: relative;
  width: 234px;
  height: 22px;
  left: 20px;
  top: 12px;
  padding-top: 15px;
  padding-bottom: 8px;

  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */

  letter-spacing: 0.015em;

  /* black */

  color: #080809;
}
.easy__date {
  position: relative;
  width: 288px;
  height: 20px;
  left: 23px;

  top: 12px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */

  letter-spacing: -0.005em;

  /* text 2 */

  color: #84829a;
}

.easy__people {
  position: relative;
  width: 126px;
  height: 20px;
  left: 50px;
  top: 6px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */

  letter-spacing: -0.02em;

  /* text 2 */

  color: #84829a;
}
.leaf {
  position: relative;
  padding: 10px 10px 5px 20px;
}
.map {
  position: relative;
  padding: 10px 10px 5px 0;
}
.send {
  position: relative;
  padding: 10px 10px 5px 0;
}
.build {
  position: relative;
  width: 16px;
  height: 16px;
  left: -146px;
  top: 43px;
}
.heart {
  position: relative;
  width: 25px;
  height: 18.58px;
  left: 130px;
  top: 43px;
}
.forCard {
  position: absolute;
  width: 263px;
  height: 129px;
  left: 210px;
  top: 222px;
  z-index: 2;
  /* white */

  background: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
}
.ongoing {
  position: relative;
  width: 58px;
  height: 17px;
  left: 1100px;
  top: -605px;
  z-index: 3;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  /* or 17px */

  letter-spacing: -0.035em;

  /* text 2 */

  color: #84829a;
}
.trip__rome {
  position: relative;
  width: 127px;
  height: 22px;
  left: 1100px;
  top: -610px;
  z-index: 3;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */

  letter-spacing: -0.015em;

  /* black */

  color: #080809;
}
.completed {
  position: relative;
  width: 101px;
  height: 17px;
  left: 1100px;
  top: -615px;
  z-index: 3;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  /* or 17px */

  letter-spacing: -0.055em;

  /* 1 */

  color: #8a79df;
}
#progressbar {
  position: relative;
  background-color: lightgray;
  border-radius: 13px;
  width: 165px;
  padding: 3px;
  top: -620px;
  left: 1100px;
  z-index: 3;
  height: 3px;
}

#progressbar > div {
  background-color: rgb(102, 80, 228);
  width: 40%;

  height: 5px;
  border-radius: 10px;
}

.smallcard__img {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 3;
  left: 1037px;
  top: 342px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
