.footer__section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1256px;
  height: 490px;
  left: 48px;
  top: 54px;
  z-index: 1;
}

.section__01 {
  position: relative;
  width: 200px;
  h2 {
    position: relative;
    width: 152px;
    height: 66px;
    left: 60px;
    top: -20px;
    font-family: "Poppins_bold";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    color: #181e4b;
  }
  h3 {
    position: relative;
    width: 207px;
    height: 48px;
    left: 60px;
    top: -35px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
    color: #5e6282;
  }
}

.section__02 {
  h2 {
    position: relative;
    width: 108px;
    height: 26px;
    left: 47px;
    top: 15px;
    font-family: "Poppins_bold";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
  }
  h3 {
    position: relative;
    width: 55px;
    height: 22px;
    left: 47px;
    top: 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5e6282;
  }
}

.section__03 {
  h2 {
    position: relative;
    width: 108px;
    height: 26px;
    left: 47px;
    top: 15px;
    font-family: "Poppins_bold";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
  }
  h3 {
    position: relative;
    width: 55px;
    height: 22px;
    left: 47px;
    top: 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5e6282;
  }
}

.section__04 {
  h2 {
    position: relative;
    width: 108px;
    height: 26px;
    left: 47px;
    top: 15px;
    font-family: "Poppins_bold";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
  }
  h3 {
    position: relative;
    width: 135px;
    height: 22px;
    left: 47px;
    top: 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5e6282;
  }
}

.section__05 {
  h2 {
    position: relative;
    width: 300px;
    height: 26px;
    left: 47px;
    top: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    color: #080809;
  }
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 153px;
  height: 24px;
  left: 50px;
}

.email__inEnd {
  position: relative;
  width: 403px;
  height: 17px;
  left: 616px;
  top: -40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  color: #5e6282;
}

.google {
  position: relative;
  top: 15px;
  left: 27px;
}

.ios {
  position: relative;
  top: 15px;
  left: 27px;
}

.foot__decore {
  position: absolute;
  width: 478.94px;
  height: 496.86px;
  left: 1300px;
  top: 4537px;
  background: #d5aee4;
  opacity: 0.5;
  filter: blur(175px);
  overflow: hidden;
}
