.intro {
  height: 764px;
  width: 1213px;
  left: 148px;
  top: 110px;
}

.intro h3 {
  position: absolute;
  width: 410px;
  height: 30px;
  left: 150px;
  top: 200px;
  font-family: "Poppins_bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #df6951;
}

.intro h1 {
  position: absolute;
  width: 545px;
  height: 267px;
  left: 150px;
  top: 225px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.intro p {
  position: absolute;
  width: 477px;
  height: 90px;
  left: 148px;
  top: 558px;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
}

.intro button {
  position: absolute;
  width: 117px;
  height: 23px;
  left: 175px;
  top: 711px;
  font-family: "Google_Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 170px;
  height: 60px;
  left: 148px;
  top: 692px;
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  border: none;
}
.intro .play-button {
  position: absolute;
  width: 112px;
  height: 112px;
  left: 338px;
  top: 682px;
}

.intro a {
  display: inline;
  position: absolute;
  width: 192px;
  height: 26px;
  left: 435px;
  top: 711px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686d77;
}

.intro .traveller {
  position: absolute;
  width: 765px;
  height: 764px;
  left: 578px;
  top: 110px;
  z-index: 2;
}

.intro__plane_01 {
  position: absolute;

  width: 237.29px;
  height: 195.23px;
  rotate: 20deg;

  left: 711px;
  top: 138.43px;
  z-index: 10;
  &:hover {
    animation: fly 3s linear infinite;
  }
}

@keyframes fly {
  0% {
    left: 50%;
  }
  20% {
    left: 60%;
    transform: translateY(0);
  }
  45% {
    transform: translateY(-70px);
  }
  65% {
    transform: translateY(-150px);
  }
  100% {
    left: 100%;
    transform: translateY(-250px);
  }
}
// animation: move 5s infinite linear;
// &:hover {
// animation: light 1200ms ease-in-out 0s infinite alternate;
// transform: translate(50%, 50%);

// cursor: pointer;
// }
//   &:hover {
//     motion-path: path(
//       "M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z"
//     );
//     offset-path: path(
//       "M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z"
//     );
//     motion-rotation: reverse;
//     animation: move 5s linear infinite;
//   }
// }
// @keyframes move {
//   100% {
//     motion-offset: 100%;
//     offset-distance: 100%;
//   }
// }

// @keyframes move {
//   0% {
//     offset-distance: 0%;
//   }
//   100% {
//     offset-distance: 100%;
//   }
// }
// @keyframes light {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
.intro__plane_02 {
  position: absolute;
  width: 237.29px;
  height: 195.23px;
  left: 1175px;
  top: 205.43px;
  z-index: 1;
}
