.intro {
  height: 764px;
  width: 1213px;
  left: 148px;
  top: 110px;
}

.intro h3 {
  position: absolute;
  width: 410px;
  height: 30px;
  left: 150px;
  top: 200px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #df6951;
}

.intro h1 {
  position: absolute;
  width: 545px;
  height: 267px;
  left: 150px;
  top: 225px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.intro p {
  position: absolute;
  width: 477px;
  height: 90px;
  left: 148px;
  top: 558px;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
}

.intro button {
  position: absolute;
  width: 117px;
  height: 23px;
  left: 175px;
  top: 711px;
  font-family: "Google_Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 170px;
  height: 60px;
  left: 148px;
  top: 692px;
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  border: none;
}
.intro .play-button {
  position: absolute;
  width: 112px;
  height: 112px;
  left: 338px;
  top: 682px;
}

.intro a {
  display: inline;
  position: absolute;
  width: 192px;
  height: 26px;
  left: 435px;
  top: 711px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686d77;
}

.intro .traveller {
  position: absolute;
  width: 765px;
  height: 764px;
  left: 578px;
  top: 110px;
}
