.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  max-width: 73%;
  margin-left: 180px;
}
.logo__01 {
  position: relative;
  width: 130px;
  height: 40px;
  filter: grayscale(100%);
}
.logo__02 {
  position: relative;
  width: 130px;
  height: 40px;
  filter: grayscale(100%);
}
.logo__03 {
  position: relative;
  width: 160px;
  height: 40px;
  filter: grayscale(100%);
}
.logo__04 {
  position: relative;
  width: 140px;
  height: 30px;
  filter: grayscale(100%);
}
.logo__05 {
  position: relative;
  width: 130px;
  height: 30px;
  filter: grayscale(100%);
}

.logo__01:hover {
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(1.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 10px;
}
.logo__02:hover {
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(1.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 10px;
}
.logo__03:hover {
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(1.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 10px;
}
.logo__04:hover {
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(1.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 10px;
}
.logo__05:hover {
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(1.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .logos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    position: relative;
    top: 600px;
    height: 700px;
    .logo__05 {
      display: none;
    }
  }
}
