.subscribe {
  position: relative;
  width: 1256px;
  height: 490px;
  left: 48px;
  top: 104px;
  z-index: 1;
  background: #f9f8ff;
  border-radius: 129px 20px 20px 20px;
}
.subscribe h2 {
  position: absolute;
  width: 859px;
  height: 108px;
  left: 291px;
  top: 100px;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  text-align: center;
  color: #5e6282;
}
.subscribe input {
  position: absolute;
  width: 421px;
  height: 68px;
  left: 373px;
  top: 300px;
  background: #ffffff;
  border-radius: 10px;
}
.subscribe .button {
  position: absolute;
  width: 180px;
  height: 68px;
  left: 832px;
  top: 300px;
  color: #fff;
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.06);
}

.subscribe__decore_left {
  position: relative;
  top: 70px;
  left: -130px;
  width: 581px;
  height: 420px;
}
.subscribe__decore_right {
  position: relative;
  width: 264px;
  height: 351.52px;
  left: 407px;
  top: -70px;
}

.sub__send {
  position: absolute;
  left: 1200px;
}
.decore__forSubscribe {
  position: absolute;
  width: 153px;
  height: 166px;
  left: 1251px;
  top: 4158px;
}
